.repo-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.repo-list-item {
  flex: 0 0 30%;
  margin: 10px;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-container button:disabled {
  cursor: not-allowed;
}
